body {
    font-size: 16px;
    color: #fff;
    background-color: #FBE5C8;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
  }
  
  /**HEADER**/
  #header-nav{
    background-color: #8FDDE7;
    border-radius: 0;
    border: 0;
  }
  .navbar-brand h1{
    font-family: "Bubblegum Sans", sans-serif;
    font-size: 2.em;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  
  }
  .navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
  }

  .navbar-brand a{
    text-decoration: none;
  }
  
  /*Unordered List */
  #nav-list a {
    text-align: center;
    font-size: 1.5em;
  }

  .nav-item a:hover {
    background-color: #fff;
  }

  /* Body */
  #menu-item{
    background-color: #FFC2C7;
    
}
  h2{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    color: #4C5270;
  }

  h3{
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    color: #4C5270;
  }
  
  #main-content p{
    color: #000000;
    padding: 4px 40px 40px;

}
  /* End of Body */
  /*LARGE DEVICE ONLY*/
  @media (min-width:1200px){
  }
  
  /*MEDIUM DEVICE ONLY*/
  @media(min-width:992px) and (max-width:1199px){
  }
  
  /*SMALL DEVICE ONLY*/
  @media (min-width: 768px) and (max-width: 991px){
    .navbar-brand h1{
        font-size: 2.5em;
    }
    #collapsable-nav{
        background-color: #B6E5D8;
        margin-top: 20px;
        overflow: hidden;
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: -10px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
  }